.index-catalog .container {
  background: #222 url("https://placehold.it/1184x720") no-repeat right top / cover;
}
.index-catalog__heading {
  margin-bottom: 50px;
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
.index-catalog a {
  color: #fff;
  transition: color 0.3s ease;

  &:hover {
    color: $primary;
  }
}
