.site-header {
  font-size: 14px;
  transition: margin-top 0.3s ease;

  &--with-catalog {
    height: 100%;
  }
}
.site-header__catalog {
  position: relative;
  z-index: 1;
  display: none;
  background-color: #fff;

  &--open {
    display: block;
  }
}
@include media-breakpoint-down(sm) {
  .site-header__catalog {
    display: none;
  }
}
