.sitenav__menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: -40%;
  right: 0;
  width: 300px;
  height: 75vh;
  overflow: auto;
  // Hide scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--open {
    display: block;
  }
}
.sitenav__menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sitenav__menu ul {
  margin-top: 10px;
}
.sitenav__menu .sitenav__dropdown-menu {
  display: none;
}
.sitenav__menu li + li {
  margin-top: 10px;
}
.sitenav__menu a {
  display: inline-block;
}
.sitenav__dropdown-toggler {
  &::after {
    position: relative;
    top: 1px;
    margin-left: 8px;
  }
}
@include media-breakpoint-down(sm) {
  .sitenav__container {
    display: flex;
    justify-content: space-between;
  }

  .sitenav__top {
    flex-grow: 1;
    margin: 0;
  }
}
