.blog-list__item {
  color: $dark;
  transition: color 0.3s ease;

  &:hover {
    text-decoration: none;
  }
}
.blog-list__img-wrapper {
  overflow: hidden;
}
.blog-list__img {
  width: 352px;
  height: 190px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.blog-list__item:hover .blog-list__img {
  transform: scale(1.3);
}
.blog-list__item h3 {
  font-weight: normal;
}
.blog-list__item:hover h3 {
  text-decoration: underline;
}
@include media-breakpoint-down(sm) {
  .blog-list__img {
    width: 100%;
  }
}
@include media-breakpoint-up(md) {
  .blog-list__category + .blog-list__category {
    margin-left: -1px;
  }
}
